:root,
body {
  font-size: 16px;
}

.screen-container {
    width: 100vw;
    height: 100vh;
    color: white;
    background: linear-gradient(135deg, #0f172a 0%, #1e293b 30%, #334155 70%, #475569 100%);

    .screen-content {
        width: 1920px;
        height: 1080px;
        box-sizing: border-box;
        padding: 12px;
        transition: all .2s ease-in-out;

        display: flex;
        flex-direction: column;
    }

    .main-section {
        height: 0;
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}