:root,
body {
  font-size: 16px;
}

.screen-container {
    width: 100vw;
    height: 100vh;
    color: white;
    background: linear-gradient(135deg, #0f172a 0%, #1e293b 30%, #334155 70%, #475569 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;

    .screen-content {
        width: 1920px;
        height: 1080px;
        box-sizing: border-box;
        padding: 0 8px;
        transition: all .2s ease-in-out;

        display: flex;
        flex-direction: column;
    }
}

.fade-enter-active {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2; /* 确保入场元素在最上层 */
}

.fade-leave-active {
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1; /* 确保离场元素在下层 */
}

.fade-enter-from {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.fade-leave-to {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}